<div id="game_<%=game.id%>" class="game<% if @i == 1 %> margin<%end%>">
	<h1><%= link_to t(game.translate_title).titleize, send(default_locale.to_s + '_game_path', t(game.translate_title)) %></h1>
	<%= image_tag('games/' + game.name.downcase! + '.png', :size => "240x150")%>
	<p><%= t(game.translate_short_description) %></p>
	<%= button_to t('play_button'), send(default_locale.to_s + '_game_path', t(game.translate_title)), :method => :get%>
</div>

<% @i += 1 %>