<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "providers/twitter_64.png", :size => "64x64", :alt => "" + t('login.twitter') + "" %>
  <%=t('login.twitter')%>
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "providers/facebook_64.png", :size => "64x64", :alt => "" + t('login.facebook') + "" %>
  <%=t('login.facebook')%>
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "providers/openid_64.png", :size => "64x64", :alt => "" + t('login.openid') + "" %>
  <%=t('login.openid')%>
</a>
<a href="/auth/linked_in" class="auth_provider">
  <%= image_tag "providers/linkedin_64.png", :size => "64x64", :alt => "" + t('login.linkedin') + "" %>
  <%=t('login.linkedin')%>
</a>